



html,body{
  width=100%;
  height=100%;
  padding:0;
  margin:0;
  font-size:18px;
  background-color:black;
  font-family:cursive;

  }


header{
  background-color:grey;
  height:100px;
  border:2px solid black;
  font-size:50px;

}

.heading p{
margin-top:20px;
  text-align:center;

}
.middle{
  background-color:black;
  text-align: center;
  padding-top: 20px;


  display:block;
  }

  .photo img{
    border:4px solid grey;
    border-radius:360px;

  }

.introduction{
  margin-bottom:20px;
  font-size:30px;
  color:white;
  }









.navigation{
  padding-bottom: 40px;
}
.navigation a {
  display:block;
  margin: 20px 10px 0px 0px;

}
.navigation a button{
  background-color:black;
  color:white;
  border:2px solid white;
  border-radius:50px;
  height:40px;
  font-family: inherit;


  }
  .navigation a button:hover{
    background-color:white;
    color:black;
    transition: background-color 0.5s,color 0.5s;
    cursor:pointer;
    font-weight: bold;


  }

  .home{
    width:100px;
  }
  .aboutme{
width:120px;
  }
  .mycv{
width:140px;
  }
  .contact{
    width:160px;
  }








footer{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
font-family: 'Lobster', cursive;
  background-color:grey;
  text-align: left;

}

.follow{
  margin:16px ;
  font-size:20pt;
}

.followlogo img{
  margin: 10px;
border:2px solid black;
  border-radius: 360px;




}
