



html,body{
  width=100%;
  height=100%;
  padding:0;
  margin:0;
  font-size:18px;
  background-color:black;
  font-family:cursive;
  color:white;


  }


header{
  background-color:grey;
  height:100px;
  border:2px solid black;
  font-size:50px;
  color:black;

}

.heading p{
margin-top:20px;
  text-align:center;
  text-shadow: 5pt 5pt 5pt black;

}
.middle{
  background-color:black;
  text-align: center;
  padding-top: 20px;



  }






.navigation{
  padding-bottom: 5px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;


}

.navigation a{
  margin:auto;


}

.navigation a button{
  background-color:black;
  color:white;
  border:2px solid white;
  border-radius:50px;
  height:40px;
  font-family: inherit;




  }
  .navigation a button:hover{
    background-color:white;
    color:black;
    transition: background-color 0.5s,color 0.5s;
    cursor:pointer;
    font-weight: bold;


  }

  .home{
    width:100px;
  }
  .aboutme{
width:120px;
  }
  .mycv{
width:140px;
  }
  .contact{
    width:160px;
  }



.content{
  font-size:14pt;
  color:white;
  margin: 50px 40px;
  border:2px solid white;

}
.content p{
  margin:10px 20px;
  font-size: 15pt;
}



footer{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
font-family: 'Lobster', cursive;
  background-color:grey;
  text-align: left;
  color:black;

}

.follow{
  margin:20px;
  font-size:20pt;

}
.follow:hover{
  transform: scale(1.1);
}

.followlogo img{
  margin: 10px;
border:2px solid black;
  border-radius: 360px;
}


.form{
  color:white;
  padding:20px 20px;
  border:2px solid white;
  margin:40px 30px;
  text-align: center;

}

.form input{
  background-color:white;
  color:black;
}

.form textarea{
  background:white;
  color:black;
}
.cv{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
}
.part1{

  margin: 20px 40px;
}
.part1 h1{
  border:2px solid black;
  background:grey;
}
.part2{
  margin-left:400px;
  margin-right: 20px;
  margin-top:20px;
  margin-bottom:20px;
}
.academics h1{
  border:2px solid black;
  background:grey;

}
.skills h1{
  border:2px solid black;
  background:grey;
}
.experiences h1{
  border:2px solid black;
  background:grey;
}
/*It will make a page responsive*/
@media screen and (max-width: 768px){

  .navigation{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
  }

  .navigation a{
    margin:10px 0px;
  }
  .cv{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
  }
  .part2{
    margin-left: 40px;
  }

  .form textarea{
    width:160px;
    height:80px;
  }
}
