
/*ANMOL ADHIKARI*/
/*UNID=17425098*/


html,body{
  width=100%;
  height=100%; /*it will adjust the height of the page to 100%*/
  padding:0;
  margin:0;

  background-color:black;
  font-family:cursive;




  }


  header{
    background-color:grey;
    height:100px;
    border:2px solid black;
    font-size:50px;
    color:black;

  }

  .heading p{
  margin-top:20px;
    text-align:center;
    text-shadow: 5pt 5pt 5pt black;/*It will put a shadow to a text*/

}
.middle{
  background-color:black;
  text-align: center;/*It will place the text at the center of the page*/
  padding-top: 20px;


  display:block;
  }

  .photo img{
    border:4px solid grey;
    border-radius:360px;

  }

.introduction{
  margin-bottom:20px;
  font-size:30px;
  color:white;
  text-shadow: 4pt 4pt 4pt white;
  }









.navigation{
  padding-bottom: 40px;/*It will adjust the position of the content inside the division*/
}
.navigation a {
  display:block;
  margin: 20px 10px 0px 0px;

}
.navigation a button{
  background-color:black;
  color:white;
  border:2px solid white;
  border-radius:50px;
  height:40px;
  font-family: inherit; /*Type of font is chosen*/


  }
  .navigation a button:hover{
    background-color:white;
    color:black;
    transition: background-color 0.5s,color 0.5s;<!--It gives the time taken by the background color to appear after the hover and disappear-->
    cursor:pointer;
    font-weight: bold;


  }

  .home{
    width:100px;
  }
  .aboutme{
width:120px;
  }
  .mycv{
width:140px;
  }
  .contact{
    width:160px;
  }








footer{
  display:flex;/*It makes the items to display in part*/
  flex-direction: row;
  flex-wrap: nowrap;
font-family: 'Lobster', cursive;
  background-color:grey;
  text-align: left;

}

.follow{
  margin:16px ;
  font-size:20pt;
}
.follow:hover{
  transform: scale(1.1);
}

.followlogo img{
  margin: 10px;
border:2px solid black;
  border-radius: 360px;
}
